
@model PagedList.IPagedList<Towzin.Models.ProductionLine>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<h2>خط تولید</h2>
@using (Html.BeginForm("Index", "ProductionLines", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="جستجو" style="font-size:large" class="glyphicon-search" />

    </p>
}
<h3>
    <i style="font-family:W_nazanin" class="glyphicon glyphicon-plus gi-5x">
        @Html.ActionLink("جدید", "Create")

    </i>
</h3>

<div class="container">


    <table class="table table-bordered">

        <tr class="alert-success" style="font-size:large">
            <th>
                <b>ردیف</b>
            </th>
            <th>
                @Html.ActionLink("عنوان", "Index", new { sortOrder = ViewBag.T1SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("عنوان لاتین", "Index", new { sortOrder = ViewBag.T2SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("توضیحات", "Index", new { sortOrder = ViewBag.T3SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("فعال", "Index", new { sortOrder = ViewBag.T4SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

@{int rownumber = 0;}
@foreach (var item in Model)
{
    <tr>
        <td>
            @{ rownumber++;}
            @rownumber

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionLineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionLineLatinName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
            @Html.ActionLink("جزئیات", "Details", new { id = item.ID }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.ID })
        </td>
    </tr>
                }

    </table>
</div>
<br />
صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))