@model Towzin.Models.TechnicalProblem

@{
    ViewBag.Title = "جزئیات";
}

<h2>جزئیات</h2>

<div>
    <h4>مشکل فنی</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>عنوان</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalProblemsName)
        </dd>

        <dt>
            <span>عنوان لاتین</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalProblemsLatinName)
        </dd>

        <dt>
            <span>توضیحات</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span>وضعیت</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
