@model PagedList.IPagedList<Towzin.Models.VW_PartGroupMember_Index>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>کالاهای گروه</h2>

@using (Html.BeginForm("Index", "PartGroups", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="جستجو" style="font-size:large" class="glyphicon-search" />

    </p>
}
<h3>
    <span class="glyphicon glyphicon-plus">

        @Html.ActionLink("جدید", "Create")

    </span>
</h3>

<div class="container">
    <table class="table table-bordered">
        <tr style="font-weight:bold" class="alert-success">
            <th>
                <b>ردیف</b>
            </th>
            <th>
                @Html.ActionLink("عنوان گروه", "Index", new { sortOrder = ViewBag.T1SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("عنوان کالا", "Index", new { sortOrder = ViewBag.T2SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("کد کالا", "Index", new { sortOrder = ViewBag.T3SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("توضیحات", "Index", new { sortOrder = ViewBag.T4SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("فعال", "Index", new { sortOrder = ViewBag.T5SortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
@{int rownumber = 0;}
@foreach (var item in Model)
{
    <tr>
        <td>
            @{ rownumber++;}
            @rownumber

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartCode)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { PartID = item.PartID, PartGroupID = item.PartGroupID }) |
            @Html.ActionLink("جزئیات", "Details", new { PartID = item.PartID, PartGroupID = item.PartGroupID }) |
            @Html.ActionLink("حذف", "Delete", new { PartID = item.PartID, PartGroupID = item.PartGroupID })

        </td>
    </tr>
                }

    </table>
</div>
<br />
    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))