@model Towzin.Models.OrderPart

@{
    ViewBag.Title = "جزئیات";
}

<h2>جزئیات</h2>

<div>
    <h4>محصولات سفارش</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>شماره سفارش</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.OrderCode)
        </dd>
        <dt>
            <span>نام کالا</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.Name)
        </dd>
        <dt>
            <span>کد کالا</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.PartCode)
        </dd>
        <dt>
            <span>مقدار تولید به واحد اصلی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfProductive)
        </dd>
        <dt>
            <span>واحد سنجش فرعی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
        <dt>
            <span>مقدار تولید به واحد فرعی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfSubUnitID)
        </dd>

        <dt>
            <span>نام مشتری</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            <span>توضیحات</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span>وضعیت</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
