
@model PagedList.IPagedList<Towzin.Models.VW_OrderPart_Index>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>کالاهای یک سفارش</h2>
@using (Html.BeginForm("Index", "OrderParts", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="جستجو" style="font-size:large" class="glyphicon-search" />

    </p>
}
<h3>
    <span class="glyphicon glyphicon-plus">

        @Html.ActionLink("جدید", "Create")

    </span>
</h3>

<div class="container">
    <table class="table table-bordered">
        <tr class="alert-success" style="font-size:medium">
                <th>
                    ردیف
                </th>
                <th>
                    @Html.ActionLink("شماره سفارش", "Index", new { sortOrder = ViewBag.OrderCodeSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    <b> @Html.ActionLink("نام کالا", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</b>
                </th>
                <th>
                    <b> @Html.ActionLink("کد کالا", "Index", new { sortOrder = ViewBag.PartCodeSortParm, currentFilter = ViewBag.CurrentFilter })</b>
                </th>
                <th>
                    <b> مقدار به واحد اصلی </b>
                </th>
                <th>
                    <b>مقدار به واحد فرعی</b>

                </th>
                <th>
                    <b> مقدار تولید شده </b>
                </th>
                <th>
                    <b>مقدار ضایعات</b>
                </th>
                <th>
                    <b> مقدار مواد اولیه مصرفی </b>
                </th>

                <th>
                    <b> @Html.ActionLink("نام مشتری", "Index", new { sortOrder = ViewBag.CustomerNameSortParm, currentFilter = ViewBag.CurrentFilter })</b>
                </th>
                <th>
                    <b> @Html.ActionLink("توضیحات", "Index", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter = ViewBag.CurrentFilter })</b>
                </th>
                <th>
                    <b> @Html.ActionLink("وضعیت", "Index", new { sortOrder = ViewBag.StateSortParm, currentFilter = ViewBag.CurrentFilter })</b>
                </th>
                <th></th>
            </tr>
            @{int rownumber = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{ rownumber++;}
                        @rownumber

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCodeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfProductive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfSubUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WasteAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountOfSubUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>

                        @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("جزئیات", "Details", new { id = item.ID }) |
                        @Html.ActionLink("حذف", "Delete", new { id = item.ID })
                    </td>
                </tr>
                   }

        </table>
   
    
</div>
<br />
صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
