<!DOCTYPE html>
<html  >
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Towzin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet"  >
    <script src="~/Scripts/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="Scripts/PersianDatePicker.min.js"></script>
    <link href="Content/PersianDatePicker.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
	<link href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.nova.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2016.3.1118/styles/kendo.dataviz.nova.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2016.3.1118/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1118/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1118/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2016.3.1118/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body   style="font-family:W_nazanin" >
@if (Request.IsAuthenticated)
{
    <aside>
        <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="nav-side-menu">
                <div class="brand">Creres</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user" ></i> @Html.ActionLink("پروفایل", "Index", "Manage")
                            </a>
                        </li>
                        <li data-toggle="collapse" data-target="#products" class="collapsed active">
                            <a href="#"><i class="glyphicon glyphicon-list-alt "></i> اطلاعات پایه  <i class="glyphicon glyphicon-list-alt  btn pull-right" style="margin-top"></i></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li>@Html.ActionLink("واحد سنجش", "Index", "Units")</li>
                            <li>@Html.ActionLink("کالا", "Index", "Parts")</li>
                            <li>@Html.ActionLink("گروه کالا", "Index", "PartGroups")</li>
                            <li>@Html.ActionLink("کالا - گروه", "Index", "PartGroupMembers")</li>
                            <li>@Html.ActionLink("ویژگی", "Index", "Specifications")</li>
                            <li>@Html.ActionLink("کالا - ویژگی ها", "Index", "PartSpecifications")</li>
                            <li>@Html.ActionLink("بسته بندی", "Index", "Packages")</li>
                            <li>@Html.ActionLink("جزییات بسته بندی", "Index", "PartPackageDetails")</li>
                            <li>@Html.ActionLink("کالا - بسته بندی", "Index", "PartPackages")</li>
                            <li>@Html.ActionLink("خط تولید", "Index", "ProductionLines")</li>
                            <li>@Html.ActionLink("قالب", "Index", "Frames")</li>
                            <li>@Html.ActionLink("کالا - قالب", "Index", "PartFrames")</li>
                            <li>@Html.ActionLink("اپراتور", "Index", "Operators")</li>
                            <li>@Html.ActionLink("مشکلات فنی", "Index", "TechnicalProbelms")</li>
                            <li>@Html.ActionLink("دلیل ضایعات", "Index", "Lesions")</li>
                            <li>@Html.ActionLink("دلیل توقف", "Index", "Stoppages")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i> سفارشات <i class="glyphicon glyphicon-shopping-cart  btn pull-right" style="margin-top"></i></a>
                        </li>
                        <ul class="sub-menu collapse" id="service">
                            <li>@Html.ActionLink("سفارش", "Index", "Orders")</li>
                            <li>@Html.ActionLink("سفارش - کالا", "Index", "OrderParts")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#new" class="collapsed">
                            <a href="#"><i class="glyphicon glyphicon-stats" ></i>جزئیات تولید سفارش <i class="glyphicon glyphicon-stats  btn pull-right" style="margin-top"></i></a>
                        </li>
                        <ul class="sub-menu collapse" id="new">
                            <li>@Html.ActionLink("جزئیات تولید", "Index", "ProductiveDetails")</li>
                            <li>@Html.ActionLink("توقفات تولید", "Index", "ProductiveStoppages")</li>
                            <li>@Html.ActionLink("مشکلات فنی خط تولید", "Index", "ProductionLineTechnicalProblems")</li>
                            
                        </ul>

                        <li>
                            <a href="#">
                                <a href="#"><i class="glyphicon glyphicon-print"></i>گزارشها <i class="glyphicon glyphicon-print  btn pull-right" style="margin-top"></i></a>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </aside>
    <div class="main">
    </div>
}
    <div class="navbar navbar-inverse navbar-fixed-top k-rtl "  style="color:white" dir="rtl">
        <div class="container" style="color:white">
            <div class="navbar-header" style="color:white">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("نرم افزار توزین", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content k-rtl" style="margin-top:initial" dir="rtl">
      <br />
      <br />
      <br />
    </div>
    <div class="container body-content k-rtl" style="margin-top:initial" dir="rtl" >
        @RenderBody()
        <hr />
        <footer style="bottom:initial" dir="rtl" >
            <div class="col-md-4">
                <p>نرم افزار توزین مراحل صنایع ورق ایران </p>
            </div>
        </footer >
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
