@model Towzin.Models.Frame

@{
    ViewBag.Title = "Details";
}

<h2>جزئیات</h2>

<div>
    <h4>قالب</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>عنوان</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameName)
        </dd>

        <dt>
            <span> عنوان لاتین</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameLatinName)
        </dd>

        <dt>
            <span>سریال قالب</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameSerial)
        </dd>

        <dt>
            <span>توضیحات</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span>وضعیت</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
