@model Towzin.Models.Operator

@{
    ViewBag.Title = "Details";
}

<h2>جزییات</h2>

<div>
    <h4>اپراتور</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="control-label ">نام</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorName)
        </dd>

        <dt>
            <span class="control-label ">نام لاتین</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorLatinName)
        </dd>

        <dt>
            <span class="control-label ">توضیحات</span>
        </dt>

        <dd>;[lp]
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span class="control-label ">فعال</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.OperatorID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
