@model Towzin.Models.Part

@{
    ViewBag.Title = "Details";
}

<h2>جزئیات</h2>

<div>
    <h4>کالا</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>عنوان</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <span>عنوان لاتین کالا</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatinName)
        </dd>

        <dt>
            <span>کد کالا</span>
        </dt>


        <dd>
            @Html.DisplayFor(model => model.PartCode)
        </dd>

        <dt>
            <span>واحد سنجش اصلی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>

        <dt>
            <span>ماهیت</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nature.NatureName)
        </dd>

        <dt>
            <span>کالای ضایعاتی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part2.Name)
        </dd>
        <dt>
            <span>کد کالا ضایعاتی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part2.PartCode)
        </dd>

        <dt>
            <span>طول</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            <span>عرض</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            <span>ارتفاع</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            <span>وزن</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            <span>توضیحات</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span>وضعیت</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>
