@model Towzin.Models.ProductionLineTechnicalProblem

@{
    ViewBag.Title = "جزئیات";
}

<h2>جزئیات</h2>

<div>
    <h4>مشکلات فنی خط</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <span>خط تولید</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionLine.ProductionLineName)
        </dd>
        <dt>
            <span>مشکل فنی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalProblem.TechnicalProblemsName)
        </dd>
        <dt>
            <span> کالا</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.Name)
        </dd>


        <dt>
            <span>اپراتور</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator.OperatorName)
        </dd>

        <dt>
            <span> توضیحات مشکل فنی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionTechnicalProblem)
        </dd>

        <dt>
            <span> راه حل مشکل فنی</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionTechnicalProblem)
        </dd>

        <dt>
            <span> توضیحات</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span> فعال</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("بازگشت به لیست", "Index")
</p>

